NATURAL_LANGUAGE_UNDERSTANDING_USERNAME=<username>
NATURAL_LANGUAGE_UNDERSTANDING_PASSWORD=<password>
connections_host=<hostname>
connections_userid=<userid>
connections_password=<password>
communityUuid=<uuid>
#
RUN_MODE=TEST
#
